<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" , href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.slim.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js">
    </script>

    <!-- Demo styles -->
    <style>
        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
        }

        ul {
            transform: rotate(180deg);
        }

        ul>li {
            transform: rotate(-180deg);
        }
    </style>


</head>

<body>

    <div class="container mt-3" style="border:1px solid #cecece; text-align:center ;">
        <h1 class="mt-2 text-primary ">
            <%= MascotaRender[0].MascotasPublicacion.Titulo %>
        </h1>
        <h3>
            <%= MascotaRender[0].MascotasPublicacion.Descripcion %>
        </h3>
    </div>

    <div class=" container mr-5 ml-5" style=" text-align: center; ">

        <div class="swiper SliderMascota">

            <div class="swiper-wrapper">


                <% for(var i=0; i < MascotaRender.length; i++) { %>


                    <div class="swiper-slide">


                        <div class="row">


                            <div class="col" style="border:1px solid #cecece;">

                                <div class="swiper mySwiper mt-5" style="height: 300px; width: 300px;">
                                    <div class="swiper-wrapper">

                                        <% for(var j=0; j < MascotaRender[i].MascotasImagenes.length; j++) { %>

                                            <div class="swiper-slide">
                                                <img src="<%= MascotaRender[i].MascotasImagenes[j].Ruta%>"
                                                    style="height: 300px; width: 300px; object-fit: cover ;">
                                            </div>

                                            <% } %>

                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>



                                <% if(MascotaRender[i].MascotasMetas !=null){ %>
                                    <% var acumulado=0;%>

                                        <% for(var j=0; j < MascotaRender[i].MascotasMetas.MetasDonaciones.length; j++)
                                            { %>
                                            <!-- <%= MascotaRender[i].MascotasMetas.MetasDonaciones[j].Cantidad; %> -->

                                            <% acumulado=acumulado+
                                                MascotaRender[i].MascotasMetas.MetasDonaciones[j].Cantidad; %>

                                                <% }%>

                                                    <% var progreso=(acumulado * 100) /
                                                        MascotaRender[i].MascotasMetas.Cantidad;%>
                                                        <!-- <%= progreso%> -->
                                                        <% }%>



                                                            <% if(MascotaRender[i].MascotasMetas !=null &&
                                                                progreso<100){ %>
                                                                <h5 style="text-align: center;">

                                                                    <a href="/petco/publicacion/meta/<%=MascotaRender[i].ID%>" class="btn btn-primary btn-block mt-3">

                                                                        Donar<i class="fa-solid fa-hand-holding-dollar"></i>


                                                                        </i>
                                                                    </a>
                                                                </h5>
                                                                <% }%>
                            </div>

                            <div class="col" style="border:1px solid #cecece; text-align: left;">
                                <div class="container mt-2" style="padding: 3%; overflow-y: scroll; height: 400px;">


                                    <% if(MascotaRender[i].MascotasMetas !=null){ %>
                                        <div class="alert alert-dismissible alert-success">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            <strong>¡Esta mascota tiene una meta de <%=
                                                    MascotaRender[i].MascotasMetas.Cantidad%>$!</strong> <br>
                                            <%= MascotaRender[i].MascotasMetas.Descripcion%>.
                                                <br> Se tiene recaudado un <%= progreso%>%
                                        </div>
                                        <% }%>
                                            <h5><b>Nombre:</b>
                                                <%= MascotaRender[i].Nombre%>
                                            </h5>

                                            <h5><b>Edad:</b>
                                                <%= MascotaRender[i].Edad%>
                                            </h5>
                                            <h5><b>Descripcion:</b>
                                                <%= MascotaRender[i].Descripcion%>
                                            </h5>
                                            <% if(MascotaRender[i].MascotasEstado.ID==2 ||
                                                MascotaRender[i].MascotasEstado.ID==3){ %>
                                                <h5 class="text-warning"><b>Estado:</b>
                                                    <%= MascotaRender[i].MascotasEstado.Estado_Nombre%>
                                                </h5>
                                                <% } else{ %>


                                                    <% if(MascotaRender[i].MascotasEstado.ID==1){ %>
                                                        <h5 class="text-success"><b>Estado:</b>
                                                            <%= MascotaRender[i].MascotasEstado.Estado_Nombre%>
                                                        </h5>
                                                        <% } else{ %>

                                                            <h5 class="text-danger"><b>Estado:</b>
                                                                <%= MascotaRender[i].MascotasEstado.Estado_Nombre%>
                                                            </h5>


                                                            <% } %>



                                                                <% } %>
                                                                    <h5><b>Especie:</b>
                                                                        <%=
                                                                            MascotaRender[i].MascotasEspecie.Nombre_Especie%>
                                                                    </h5>
                                                                    <h5><b>Salud:</b>
                                                                        <%= MascotaRender[i].MascotasSalud.Salud%>
                                                                    </h5>
                                                                    <h5><b>Tamaño:</b>
                                                                        <%= MascotaRender[i].MascotasTamano.Tamano%>
                                                                    </h5>
                                                                    <h5><b>Castramiento:</b>
                                                                        <%= MascotaRender[i].MascotasCastrado.Castrado%>
                                                                    </h5>
                                                                    <h5><b>Vacunas:</b>
                                                                        <% for(var j=0; j <
                                                                            MascotaRender[i].MascotasVacunas.length;
                                                                            j++) { %>
                                                                            <%=
                                                                                MascotaRender[i].MascotasVacunas[j].Nombre_Vacuna%>
                                                                                <% if(j
                                                                                    !=MascotaRender[i].MascotasVacunas.length-1){
                                                                                    %>o,<% }else{ %>
                                                                                        <% } %>
                                                                                            <% } %>
                                                                    </h5>


                                                                    <h5 style="text-align: center;" class="mt-5">

                                                                        <a href="/petco/formulario/responder/m=<%=MascotaRender[i].ID%>"
                                                                            class="btn btn-warning btn-block">


                                                                            Enviar solicitud <i
                                                                                class="fa-solid fa-envelope"></i>

                                                                            </i>
                                                                        </a>
                                                                    </h5>


                                </div>
                            </div>


                        </div>


                        <% if(MascotaRender[i].MascotasMetas !=null){ %>

                            <div class="progress" style="border:1px solid #cecece;">
                                <div class="progress-bar" role="progressbar" style="width: <%= progreso%>%;"
                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <% } %>


                    </div>


                    <% } %>

            </div>



            <div class="swiper-pagination"></div>
            <div class="swiper-button-next MascotaNext"></div>
            <div class="swiper-button-prev MacotaPrev"></div>

        </div>
        <div class="container mt-3 mb-5" style="padding: 0%;">





            <div class="row d-flex justify-content-center">
                <div class="">
                    <div class="card shadow-0 border">
                        <div class="card-body p-4">

                            <form id="form" action="">
                                <input class="form-control mt-3 mb-3" id="input" autocomplete="off"
                                    placeholder="Escribe un comentario" />
                            </form>

                            <div class="card mb-4 comentarioTemplate" style="display: block;">
                                <div class="card-body">
                                    <p style="text-align: left;" class="contenido">Aqui va un comentario</p>

                                    <div class="">
                                        <div class="d-flex flex-row align-items-center">
                                            <img class="imagenusuario"
                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                                                alt="avatar" width="25" height="25" />
                                            <p class="small mb-0 ms-2 nombreusuario">Usuario Nombre</p> 
                                            <span class="text-muted fechahecho">-2 hours ago</span>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <form id="comentario-1" action="">
                                                <input class="form-control mt-3 mb-3" id="input" autocomplete="off"
                                                    placeholder="Escribe un comentario" />
                                            </form>                                     
                                        </div>
                                    </div>
                                    <div class="list-group respuestas">
                                    </div>
                                </div>
                            </div>

                            <!-- Recibir los comentarios de la base de datos -->
                            <div class="list-group comentarios">  
                                <% for(var i=0; i < comentarios.length; i++) { %>

                                    <div class="card mb-4 comentarioTemplate" style="display: block;">
                                        <div class="card-body">
                                            <p style="text-align: left;" class="contenido"> <%= comentarios[i].Texto%></p>
        
                                            <div class="">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img class="imagenusuario"
                                                        src="<%= comentarios[i].ComentariosUsuario.Foto_Perfil%>"
                                                        alt="avatar" width="25" height="25" />
                                                    <p class="small mb-0 ms-2 nombreusuario"><%= comentarios[i].ComentariosUsuario.UsuariosRegistro.Nombre%></p> 
                                                    <span class="text-muted fechahecho">—<%= comentarios[i].Fecha_Envio%></span>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <form id="comentario-<%=comentarios[i].ID%>" action="">
                                                        <input class="form-control mt-3 mb-3" id="inputC-<%=comentarios[i].ID%>" autocomplete="off"
                                                            placeholder="Escribe un comentario" />
                                                    </form>                                     
                                                </div>
                                            </div>
                                            <div class="list-group respuestas">
                                            </div>
                                        </div>
                                    </div>


                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>




    <script src="/socket.io/socket.io.js"></script>

    <script>
         window.onload = function () { //Se ejecuta al terminar de cargar la pagina
            socket.emit('publicacion', idPublicacion); //Metodo que etablece la sala y el contexto de los comentarios dentro de la publicacion
        }
        const formC = document.querySelector('#comentario-9');
        const inputC = document.querySelector('#inputC-9');
        console.log(formC); 
        console.log('¿eh?'); 
         
    </script>



    <script>
        var socket = io(); //Se inicializa dentro del scritp socket.io
        //Se obtienen algunos de los datos que conforman el comentario
        var idPublicacion = <%=MascotaRender[0].MascotasPublicacion.ID %>;
        var nombreuser = '<%= usuario[0].Nombre%>';
        var imagenperfil = ' <%= usuario[0].RegistroUsuario.Foto_Perfil%>';




        window.onload = function () { //Se ejecuta al terminar de cargar la pagina
            socket.emit('publicacion', idPublicacion); //Metodo que etablece la sala y el contexto de los comentarios dentro de la publicacion
        }

        var tarjeta = document.querySelector(".comentarioTemplate"); //Se obtiene el formato del comentario de un template
        const form = document.querySelector('form')
        const input = document.querySelector('input') //Se obtiene el texto contenido dentro del input del comentario
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            if (input.value) { //Se ejecuta lo siguiente al haber introducido el texto
                //Se envian los datos a la funcion 
                var today = new Date();
                var date = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date + " " + time;
                socket.emit('comentario', { msg: input.value, id: idPublicacion, nombre: nombreuser, imagen: imagenperfil, fecha: dateTime })
                input.value = ''
            }

        })

        socket.on('comentario', ({ msg, nombre, imagen, fecha, idcomentario}) => {

            var tarjeta2 = tarjeta.cloneNode(true); //se clona un elemento con las caracteristicas de un comentario
            var list = document.querySelector(".comentarios") //Se obtienen todos los comentarios existentes para poder acomdarlos
            tarjeta2.querySelector('form').id='comentario-'+idcomentario;
            console.log( tarjeta2.querySelector('form').id);

            tarjeta2.querySelector('form').addEventListener('submit', (e) => {

            });


            tarjeta2.style.display = 'block'// se hace visible el comentario
            tarjeta2.querySelector(".contenido").innerText = msg; //Se le introduce dentro del div contenido el texto del comentario
            tarjeta2.querySelector(".nombreusuario").innerText = nombre; //Se le introduce dentro del div del nombreusuario el nombre del usuario
            tarjeta2.querySelector(".imagenusuario").src = imagen; //se coloca dentro de la imagen, la imagen del usuario
            tarjeta2.querySelector(".fechahecho").innerText = "—"+fecha;

            document.querySelector(".comentarios").insertBefore(tarjeta2, list.children[0]); //Se inserta el comentario dentro 

        })



    </script>


    <script>

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

    </script>






    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "cards",
            rewind: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper = new Swiper(".SliderMascota", {
            effect: "flip",
            rewind: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".MascotaNext",
                prevEl: ".MacotaPrev",
            },
        });
    </script>



</body>

</html>