<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Publicacion de <%= MascotaRender[0].MP.PublicacionUsuario.UsuarioRegistro.Nombre%>
    </title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script>
        var idSession = '<%= usuario[0].RegistroUsuario.ID%>';
        var idPublicacion = <%=MascotaRender[0].MP.ID %>;
        var idUsuarioPublicacion = <%=MascotaRender[0].MP.ID_Usuario %>;

        var nombreuser = '<%= usuario[0].Nombre%>';
        var imagenperfil = ' <%= usuario[0].RegistroUsuario.Foto_Perfil%>';
        //Script para respuestas
        var ncomentarios = <%=comentarios.length%>;
        const comentariosJS = <%-JSON.stringify(comentarios)%>;
        var clicks = <%= likesp.length%>;
        console.log("🚀 ~ file: publicacion.ejs ~ line 357 ~ idPublicacion", idPublicacion)
        </script>
            <script type="module" src="/javascripts/LikeScript.js">
            </script>
          <script type="module" src="/javascripts/ComentarioSockets.js">
        </script>
    
    <link rel="stylesheet" , href="/stylesheets/style.css" />

    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-3.6.0.slim.js">
    </script>
    </script>

    <!-- Demo styles -->
    <style>

        button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;

	cursor: pointer;
	outline: inherit;
}
        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
        }
        .alertLimite{
            width: 50vw; 
            z-index: 10;
        }

        @media(max-width:768px){
            .alertLimite{
                width: 80vw;
            }
        }
       
        
    </style>


</head>

<body>

    <%- include ("partials/header") %>

    <div class="container mt-5" style="border:1px solid #cecece; text-align:center ;">
        
        <%if(SolicitudesValNumero){%>
            <div class="alert alert-dismissible alert-info position-fixed bottom-0 end-0 me-4 alertLimite">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <h4 class="alert-heading">¡Aviso!</h4>
                <p class="mb-0">Haz alcanzado el limite de 3 solicitudes enviadas. Cancela o finaliza solicitudes activas para enviar más</p>
            </div>
        <%}%>

        
        <div class="row">
            <div class="col" style="border:1px solid #cecece;">

                <!-- Dueño de la publicacion -->

                <img class="imagenusuario mt-2"
                src="<%= MascotaRender[0].MP.PublicacionUsuario.Foto_Perfil%>"
                alt="avatar" width="25" height="25" style="float:left;"/>
            <a href="/petco/perfil/usuario/<%= MascotaRender[0].MP.PublicacionUsuario.ID%>" class="small mb-0 ms-2 nombreusuario mt-2" style="float:left; text-decoration: none;"><%= MascotaRender[0].MP.PublicacionUsuario.UsuarioRegistro.Nombre%></a>

                
                <!-- Reportar -->
                
                <button class="nav-item dropdown mt-2 " style="float: right; right: 0;">

                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-flag" style="color: #2FA1DA"></i></a>
                        <div class="dropdown-menu" style="">
                            <a  class="dropdown-item" id="Spam" aria-valuenow="5" href="#" valor="Spam">Reportar esta publicacion por Spam</a>
                            <a class="dropdown-item" id="Odio" href="#" valor="Odio">Esta publicacion incita al odio</a>
                            <a class="dropdown-item" id="Maltrato" href="#" valor="Maltrato animal">La publicacion muestra maltrato animal</a>
                            <a class="dropdown-item" id="InformacionErronea" href="#" valor="Información errónea">La informacion en la publicacion es erronea</a>
                            <a class="dropdown-item" id="Ventas" href="#" valor="Promocionar ventas">Reportar por promocionar ventas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" id="Otro" href="#">Otro</a>
                        </div>
                    </li>

                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                    <!-- Eventos -->
                    <script>
                        
                        const R1 = document.querySelector("#Spam");
                        const R2 = document.querySelector("#Odio");
                        const R3 = document.querySelector("#Maltrato");
                        const R4 = document.querySelector("#InformacionErronea");
                        const R5 = document.querySelector("#Ventas");
                        const R6 = document.querySelector("#Otro");

                        R6.addEventListener("click", async ()=>
                        { 
                            const { value: text } = await Swal.fire({
                                input: 'textarea',
                                inputLabel: '¿Otro motivo?',
                                inputPlaceholder: 'Escribe el porque la plubicacion es inapropiada',
                                inputAttributes: {
                                    'aria-label': 'Type your message here'
                                },
                                showCancelButton: true,
                                inputValidator: (value) => {
                                    if (!value) {
                                        return 'Rellena el campo, porfavor'
                                    }
                                }
                                
                            })
                            if (text) {
                                Reportar(text, 0);

                            }
                            
                        })

                        R1.addEventListener("click", function() {
                            Swal.fire({
                                title: '¿Estas seguro que la publicacion infringe las normas?',
                                text: "La mayoria de los reportes son evaluados manualmente.",
                                icon: 'warning',
                                showCancelButton: true,
                                cancelButtonText:"Cancelar",
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, estoy seguro.'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Reportar(R1.getAttribute("valor"), 1);

                                }
                            })
                        });

                        R2.addEventListener("click", function() {
                            Swal.fire({
                                title: '¿Estas seguro que la publicacion infringe las normas?',
                                text: "La mayoria de los reportes son evaluados manualmente",
                                icon: 'warning',
                                showCancelButton: true,
                                cancelButtonText:"Cancelar",
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, estoy seguro.'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Reportar(R2.getAttribute("valor"), 3);

                                }
                            })
                        });
                        
                        R3.addEventListener("click", function() {
                            Swal.fire({
                                title: '¿Estas seguro que la publicacion infringe las normas?',
                                text: "La mayoria de los reportes son evaluados manualmente",
                                icon: 'warning',
                                showCancelButton: true,
                                cancelButtonText:"Cancelar",
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, estoy seguro.'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Reportar(R3.getAttribute("valor"), 5);

                                }
                            })
                        });
                        
                        R4.addEventListener("click", function() {
                            Swal.fire({
                                title: '¿Estas seguro que la publicacion infringe las normas?',
                                text: "La mayoria de los reportes son evaluados manualmente",
                                icon: 'warning',
                                showCancelButton: true,
                                cancelButtonText:"Cancelar",
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, estoy seguro.'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Reportar(R4.getAttribute("valor"), 2);

                                }
                            })
                        });
                        
                        R5.addEventListener("click", function() {
                            Swal.fire({
                                title: '¿Estas seguro que la publicacion infringe las normas?',
                                text: "La mayoria de los reportes son evaluados manualmente",
                                icon: 'warning',
                                showCancelButton: true,
                                cancelButtonText:"Cancelar",
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, estoy seguro.'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    Reportar(R5.getAttribute("valor"), 3);

                                }
                            })
                        });
                        
                        
                        function Reportar(motivo, peso) {
                            //alert("El motivo es " + motivo + " Con un peso de " + peso + " A la piblicacion " + idPublicacion + " Del usuario " + idSession + " Al usuario " + idUsuarioPublicacion);

                            fetch(`/petco/publicacion/Reporte/${motivo}/${peso}/${idSession}/${idUsuarioPublicacion}/${idPublicacion}`)
                            .then((res) => res.json())
                            .then((res) => {
                                console.log(res);
                            })

                            Swal.fire('¡Reporte enviado!', '', 'success')

                        }
                        
                    </script>

                </button>
                
                


                    <!-- Guardar -->
                    <button id="guardar" class="mt-1" style="float: right; right: 0; margin-right: 1%;">
                        <i class="fa-regular fa-bookmark fa-lg IconToSave mt-3" style="color: #FBA81A; display: none;"></i>                
                        <i class="fa-solid fa-bookmark fa-lg IconSaved mt-3" style="color: #FBA81A; display: none;"></i>
                    </button>

            </div>
        </div>


       
        
        <h1 class="mt-2 text-primary " >
            <%= MascotaRender[0].MP.Titulo %>
        </h1>
            

        <h3>
            <%= MascotaRender[0].MP.Descripcion %>
        </h3>
    </div>
    
    <div class=" container mr-5 ml-5" style=" text-align: center; ">

        <div class="swiper SliderMascota">

            <div class="swiper-wrapper">


                <% for(var i=0; i < MascotaRender.length; i++) { %>

                    
                    <div class="swiper-slide">
                        
                        <div class="row">
                            


                            <div class="col" style="border:1px solid #cecece;">

                                

                                <div class="swiper mySwiper mt-5" style="height: 300px; width: 300px;">
                                    <div class="swiper-wrapper">

                                        <% for(var j=0; j < MascotaRender[i].MascotasImagenes.length; j++) { %>

                                            <div class="swiper-slide">
                                                <img src="<%= MascotaRender[i].MascotasImagenes[j].Ruta%>"
                                                    style="height: 300px; width: 300px; object-fit: cover ;">
                                            </div>

                                            <% } %>

                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>

                                <% if(MascotaRender[i].MascotasMetas !=null){ %>
                                    <% var acumulado=0;%>

                                        <% for(var j=0; j < MascotaRender[i].MascotasMetas.MetasDonaciones.length; j++)
                                            { %>
                                            <!-- <%= MascotaRender[i].MascotasMetas.MetasDonaciones[j].Cantidad; %> -->

                                            <% acumulado=acumulado+
                                                MascotaRender[i].MascotasMetas.MetasDonaciones[j].Cantidad; %>

                                                <% }%>

                                                    <% var progreso=(acumulado * 100) /
                                                        MascotaRender[i].MascotasMetas.Cantidad;%>
                                                        <!-- <%= progreso%> -->
                                                        <% }%>



                                                            <% if(MascotaRender[i].MascotasMetas !=null &&
                                                                progreso<100){%>

                                                                    
                                                                    <% if(MascotaRender[0].MP.PublicacionUsuario.AceptaDonaciones == 1 ){%>
                                                                <h5 style="text-align: center;">

                                                                    <a href="/petco/publicacion/meta/<%=MascotaRender[i].ID%>"
                                                                        class="btn btn-primary btn-block mt-3">

                                                                        Donar<i
                                                                            class="fa-solid fa-hand-holding-dollar"></i>


                                                                        </i>
                                                                    </a>
                                                                </h5>
                                                                <% }else {%>
                                                                        <h5 class="mt-3" style="text-align: center;">                                                                    
                                                                            <strong>
                                                                                El usuario no acepta donaciones por el momento                                                                    
                                                                            </strong>
                                                                            </h5>

                                                                <% }%>

                                                                <% }%>
                            </div>

                            <div class="col" style="border:1px solid #cecece; text-align: left;">
                                <div class="container mt-2" style="padding: 3%; overflow-y: scroll; height: 400px;">
                                    
                                    <% if(MascotaRender[i].MascotasMetas !=null){ %>
                                        
            
                                                <div class="progress mb-2">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= progreso%>%;"
                                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                
                                            
                                            <% } %>
            


                                    <% if(MascotaRender[i].MascotasMetas !=null){ %>
                                        <div class="alert alert-dismissible alert-success">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            <strong>¡Esta mascota tiene una meta de <%=
                                                    MascotaRender[i].MascotasMetas.Cantidad%>$!</strong> <br>
                                            <%= MascotaRender[i].MascotasMetas.Descripcion%>.
                                                <br> Se tiene recaudado un <%= progreso%>%
                                        </div>
                                        <% }%>


                                      


                                            <h5><b>Nombre:</b>
                                                <%= MascotaRender[i].Nombre%>
                                            </h5>

                                            <h5><b>Edad:</b>
                                                <%if(MascotaRender[i].Edad == 0){%>
                                                    Menos de un año
                                                    <%}%>

                                                <%if(MascotaRender[i].Edad < 0){%>
                                                    Edad Desconocida
                                                    <% }%>

                                                <%if(MascotaRender[i].Edad > 0){%>
                                                    <%= MascotaRender[i].Edad%>
                                                <%}%>


                                               
                                            </h5>
                                            <h5><b>Descripcion:</b>
                                                <%= MascotaRender[i].Descripcion%>
                                            </h5>
                                            <% if(MascotaRender[i].MascotasEstado.ID==2 ||
                                                MascotaRender[i].MascotasEstado.ID==3){ %>
                                                <h5 class="text-warning"><b>Estado:</b>
                                                    <%= MascotaRender[i].MascotasEstado.Estado_Nombre%>
                                                </h5>
                                                <% } else{ %>


                                                    <% if(MascotaRender[i].MascotasEstado.ID==1){ %>
                                                        <h5 class="text-success"><b>Estado:</b>
                                                            <%= MascotaRender[i].MascotasEstado.Estado_Nombre%>
                                                        </h5>
                                                        <% } else{ %>

                                                            <h5 class="text-danger"><b>Estado:</b>
                                                                <%= MascotaRender[i].MascotasEstado.Estado_Nombre%>
                                                            </h5>


                                                            <% } %>



                                                                <% } %>
                                                                    <h5><b>Especie:</b>
                                                                        <%=
                                                                            MascotaRender[i].MascotasEspecie.Nombre_Especie%>
                                                                    </h5>

                                                                    <h5><b>Ubicacion:</b>
                                                                        <%= MascotaRender[0].MP.PublicacionUsuario.UsuarioRegistro.muni.estado.Nombre%>,

                                                                        <%= MascotaRender[0].MP.PublicacionUsuario.UsuarioRegistro.muni.Nombre%>
                                                                    </h5>


                                                                    <h5><b>Salud:</b>
                                                                        <%= MascotaRender[i].MascotasSalud.Salud%>
                                                                    </h5>
                                                                    <h5><b>Tamaño:</b>
                                                                        <%= MascotaRender[i].MascotasTamano.Tamano%>
                                                                    </h5>
                                                                    <h5><b>Castramiento:</b>
                                                                        <%= MascotaRender[i].MascotasCastrado.Castrado%>
                                                                    </h5>
                                                                    <h5><b>Vacunas:</b>
                                                                        <% for(var j=0; j <
                                                                            MascotaRender[i].MascotasVacunas.length;
                                                                            j++) { %>
                                                                            <%=
                                                                                MascotaRender[i].MascotasVacunas[j].Nombre_Vacuna%>
                                                                                <% if(j
                                                                                    !=MascotaRender[i].MascotasVacunas.length-1){
                                                                                    %>,<% }else{ %>
                                                                                        <% } %>
                                                                                            <% } %>
                                                                    </h5>

                                                                    <h5><b>Dias estimados para su adopcion:</b>
                                                                        <!-- Obtener tiempo estimado de adopcion -->
                                                                        <% var t=0;
                                                                        for (let k = 0 ; k < MascotaRender[i].MascotasProceso.length; k++)
                                                                        {
                                                                            
                                                                            t = t + MascotaRender[i].MascotasProceso[k].Paso.DiasEstimados
                                                                        }
                                
                                                                            %>
                                                                          
                                                                            <%=t%>
                                                                        </h5>


                                                                    <h5 style="text-align: center;" class="mt-5">
                                                                        <%if(isDueno==false){%>
                                                                            <%let isSolicitudEnviada=false;%>
                                                                            <% arrayMascotasSolicitud.forEach(function(solicitudID){ %>
                                                                                
                                                                                <%if(solicitudID==MascotaRender[i].ID){%>
                                                                                    <%isSolicitudEnviada=true;%>
                                                                                <%}%>
                                                                              <% }); %>
                                                                              <%if(isSolicitudEnviada){%>
                                                                                <a
                                                                                   href="#" class="btn btn-warning btn-block disabled" tabindex="-1" aria-disabled="true">
        
        
                                                                                    Solicitud enviada <i
                                                                                        class="fa-solid fa-envelope"></i>
        
                                                                                    </i>
                                                                                </a>
                                                                              <%}else if(!SolicitudesValNumero){%>
                                                                                <%if(MascotaRender[i].Estado!=4){%>
                                                                                <a href="/petco/formulario/responder/m=<%=MascotaRender[i].ID%>"
                                                                                    class="btn btn-warning btn-block">
        
        
                                                                                    Enviar solicitud <i
                                                                                        class="fa-solid fa-envelope"></i>
        
                                                                                    </i>
                                                                                </a>
                                                                                <%}%>
                                                                                <%}else{%>
                                                                                    
                                                                                    <a href="#"
                                                                                    class="btn btn-warning btn-block disabled" tabindex="-1" aria-disabled="true">
            
            
                                                                                        Enviar solicitud <i
                                                                                            class="fa-solid fa-envelope"></i>
            
                                                                                        </i>
                                                                                    </a>
                                                                                <%}%>
                                                                            
                                                                        <%}%>
                                                                        
                                                                        <%if(isDueno==true){%>
                                                                            <a href="/petco/solicitudes/ver/<%=publicacionID%>"
                                                                                class="btn btn-warning btn-block">
    
    
                                                                                Ver Solicitudes <i
                                                                                    class="fa-solid fa-envelope"></i>
    
                                                                                </i>
                                                                            </a>
                                                                        <%}%>
                                                                    </h5>

                                </div>
                            </div>

                        </div>
    

                    </div>


                    <% } %>

            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next MascotaNext"></div>
            <div class="swiper-button-prev MacotaPrev"></div>

            
        </div>


        <!-- Like -->
        <h5 class="mt-1">

            <button id="like">
                <i class="fa-regular fa-heart IconToLike" style="color:#EA2340; display: none;"> </i>    
                <i class="fa-solid fa-heart IconLiked"  style="color:#EA2340; display: none;" > </i>
            </button>
            
            <a id="clicks" > </a>


        </h5>

        <div class="row">
                        <div class="col" style="border:1px solid #cecece;">
                        </div>
                        
        </div>

        <!-- Comentarios -->
        <div class="container mt-3 mb-5" style="padding: 0%;">

            <div class="row d-flex justify-content-center">
                <div class="">
                    <div class="card shadow-0 border">
                        <div class="card-body p-4">

                            <form id="form" action="">
                                <input class="form-control mt-3 mb-3" id="input" autocomplete="off"
                                    placeholder="Escribe un comentario" />
                            </form>

                            <div class="card mb-4 comentarioTemplate" style="display: none;" >
                                <div class="card-body">
                                    <p style="text-align: left;" class="contenido">Aqui va un comentario</p>

                                    <div class="">
                                        <div class="d-flex flex-row align-items-center">
                                            <img class="imagenusuario"
                                                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp"
                                                alt="avatar" width="25" height="25" />
                                            <p class="small mb-0 ms-2 nombreusuario">Usuario Nombre</p>
                                            <span class="text-muted fechahecho">-2 hours ago</span>
                                        </div>
                                        <div class="">
                                            <form id="comentario-1" action="">
                                                <input class="form-control mt-3 mb-3" id="input" autocomplete="off"
                                                    placeholder="Responder" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Recibir los comentarios de la base de datos -->
                            <div class="list-group comentarios">
                                <% for(var i=0; i < comentarios.length; i++) { %>
                                    <div class="card mb-4 comentarioTemplate" style= "display: <%=comentarios[i].Comentario_Padre== null ? 'block' : 'none' %>;"   >
                                        
                                        <div class="card-body">
                                            <p style="text-align: left;" class="contenido">
                                                <%= comentarios[i].Texto%>
                                            </p>
                                            <div class="">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img class="imagenusuario"
                                                        src="<%= comentarios[i].ComentariosUsuario.Foto_Perfil%>"
                                                        alt="avatar" width="25" height="25" />
                                                    <p class="small mb-0 ms-2 nombreusuario">
                                                        <%= comentarios[i].ComentariosUsuario.UsuarioRegistro.Nombre%>
                                                    </p>
                                                    <span class="text-muted fechahecho">—
                                                        
                                                        <% var FechaFormateada = comentarios[i].Fecha_Envio.toString()%>
                                                        
                                                        <%var myDate = new Date(FechaFormateada); %>

                                                        <%=    myDate.getFullYear() + '-' +  myDate.getMonth() +  '-' + myDate.getDate() +' ' +myDate.getHours() + ':' +myDate.getMinutes()  + ':' +myDate.getSeconds()   %>
                                                    
                                                    </span>
                                                </div>
                                                <div class="">
                                                    <form id="comentarioForm-<%=comentarios[i].ID%>" action="">
                                                        <input class="form-control mt-3 mb-3"
                                                            id="inputC-<%=comentarios[i].ID%>" autocomplete="off"
                                                            placeholder="Responder" />
                                                    </form>
                                                </div>
                                            </div>

                                            <div class="list-group respuestas" id="comentario-<%=comentarios[i].ID%>">
                                                <% for(var j=0; j < comentarios.length; j++) { %>
    
                                                    <%if (comentarios[j].Comentario_Padre == comentarios[i].ID ) { %>
                                                        <!-- Se ponen las respuestas --> 
                               
    
    
                                                        <div class="card mb-4 respuestaTemplate" style="display: block;">
                                                                    
                                                            <div class="card-body">
                                                                <p style="text-align: left;" class="contenido">
                                                                    <%= comentarios[j].Texto%>
                                                                </p>
                    
                                                                <div class="">
                                                                    <div class="d-flex flex-row align-items-center">
                                                                        <img class="imagenusuario"
                                                                            src="<%= comentarios[j].ComentariosUsuario.Foto_Perfil%>"
                                                                            alt="avatar" width="25" height="25" />
                                                                        <p class="small mb-0 ms-2 nombreusuario">
                                                                            <%= comentarios[j].ComentariosUsuario.UsuarioRegistro.Nombre%>
                                                                        </p>
                                                                        <span class="text-muted fechahecho">—
                                                                            
                                                                            <% var FechaFormateada = comentarios[j].Fecha_Envio.toString()%>
                                                                            
                                                                            <%var myDate = new Date(FechaFormateada); %>
                    
                                                                            <%=    myDate.getFullYear() + '-' +  myDate.getMonth() +  '-' + myDate.getDate() +' ' +myDate.getHours() + ':' +myDate.getMinutes()  + ':' +myDate.getSeconds()   %>
                                                                        
                                                                        </span>
                                                                    </div>
                                                
                                                                </div>
                    
                                                            
                                                            </div>
                                                        </div>
                                                        
                                                        <% } %>
                                                        <% } %>                
                                                        
                                                </div>
                                            
                            
                                        </div>
                                        </div>
                                        <% } %>

                                    </div>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <script src="/socket.io/socket.io.js"></script>
  

  
 

    <script>

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })

    </script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "cards",
            rewind: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        var swiper = new Swiper(".SliderMascota", {
            effect: "flip",
            rewind: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".MascotaNext",
                prevEl: ".MacotaPrev",
            },
        });
    </script>


<script  type="module" src="/javascripts/PublicacionesGuardadas.js">  </script>


</body>

</html>

