<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" , href="/stylesheets/style.css" />
    <script
    src="https://kit.fontawesome.com/f0156fc078.js"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"></script>
  
  

    <title>Selecciona tus Intereses</title>

    <style>
        .container {
            position: relative;

        }

        .image {
            opacity: 1;
            display: block;
            width: 100%;
            height: auto;
            transition: .5s ease;
            backface-visibility: hidden;
        }

        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .container:hover .image {
            opacity: 0.3;
        }

        .container:hover .middle {
            opacity: 1;
        }

        .text {
            background: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 32px;
            padding: 8px 16px;
        }


        body {
            background-color: #FFFAFA;
            margin: 0;
            font-family: Arial;
        }


        input[type="checkbox"] {
            display: none;
        }

        label {
            border-radius: 30px;
            background-color: #fff;
            padding: 10px;
            display: block;
            position: relative;
            margin: 10px;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        label::before {
            background-color: white;
            box-shadow: 0 0 5px #333;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid #478bfb;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {

            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

        :checked+label {
            border-color: #ddd;
        }

        :checked+label::before {
            content: "✓";
            background-color: #478bfb;
            transform: scale(1);
        }

        :checked+label img {
            transform: scale(0.9);
            box-shadow: 0 0 5px #333;
            z-index: -1;
        }



        * {
            box-sizing: border-box;
        }


        .header {
            text-align: center;
            padding: 16px;
        }

        .row {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap;
            /* IE10 */
            flex-wrap: wrap;
            padding: 0 100px;
        }

        /* Create four equal columns that sits next to each other */
        .column {
            -ms-flex: 25%;
            /* IE10 */
            flex: 25%;
            max-width: 25%;
            padding: 4 4px;
        }

        .column img {

            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }

        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 800px) {
            .column {
                -ms-flex: 50%;
                flex: 50%;
                max-width: 50%;
            }
        }

        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .column {
                -ms-flex: 100%;
                flex: 100%;
                max-width: 100%;
            }
        }
    </style>

</head>

<body>

    <div class="header mt-3">
        
        <% if(TUser == 1){ %>
            <h1><b>
                Selecciona que animales te interesa ver de manera constante.</h1>
            </b> 
            <% } else{ %>  
                <b>
                    <h1>Selecciona los animales que te interesa adoptar.</h1>
                </b>
         <% } %>


        <h3 class="mt-3">Escoge tres animales para continuar </h3>
        
        <div class="container mt-3">
            
            
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Nota:</strong> Esto no limitará las mascotas que puedas encontrar con otras herramientas
            </div>
            
        </div>
  
    </div>





    <!-- Photo Grid -->
    <form action="/petco/inicio/CrearI" method="post" onsubmit=" return MinCheck();">
        <div class="row">
            <div class="column">
                <% for(var i=0; i < 6; i++) { %>
                    <!-- Primera Columna -->


                    <input type="checkbox" id="<%=Animales[i].Nombre_Especie%>" name="Escogidos" class="check"
                        value="<%=Animales[i].ID%>">

                    <% switch (i) { case 0: %>
                        <label for="Asno">
                            <div class="container">
                                <img src="/images/InteresesImages/ASNO.jpg" />
                                <div class="middle">
                                    <div class="text">Asno</div>
                                </div>
                            </div>
                        </label>

                        <br>
                        <% break; case 1: %>
                            <label for="Pato">

                                <div class="container">
                                    <img
                                        src="/images/InteresesImages/PATO.jpg" />
                                    <div class="middle">
                                        <div class="text">Pato</div>
                                    </div>
                                </div>
                            </label>

                            <% break; case 2: %>
                                <label for="Buey">
                                    <div class="container">
                                        <img
                                            src="/images/InteresesImages/BUEY.jpg" />
                                        <div class="middle">
                                            <div class="text">Buey</div>
                                        </div>
                                    </div>
                                </label>

                                <% break; case 3: %>
                                    <label for="Caballo">
                                        <div class="container">
                                            <img
                                                src="/images/InteresesImages/CABALLO.jpeg" />
                                            <div class="middle">
                                                <div class="text">Caballo</div>
                                            </div>
                                        </div>
                                    </label>

                                    <% break; case 4: %>
                                        <label for="Cabra	">
                                            <div class="container">
                                                <img
                                                    src="/images/InteresesImages/CABRA.jpg" />
                                                <div class="middle">
                                                    <div class="text">Cabra</div>
                                                </div>
                                            </div>
                                        </label>

                                        <% break; case 5: %>
                                            <label for="Cerdo">
                                                <div class="container">
                                                    <img
                                                        src="/images/InteresesImages/CERDO.jpeg" />
                                                    <div class="middle">
                                                        <div class="text">Cerdo</div>
                                                    </div>
                                                </div>
                                            </label>

                                            <% break; default: break; } %>

                                                <% } %>

            </div>
            <div class="column">
                <% for(var i=6; i < 12; i++) { %>
                    <!-- Segunda Columna -->

                    <input type="checkbox" id="<%=Animales[i].Nombre_Especie%>" name="Escogidos" class="check"
                        value="<%=Animales[i].ID%>">

                    <% switch (i) { case 6: %>
                        <label for="Chinchilla">
                            <div class="container">
                                <img
                                    src="/images/InteresesImages/CHINCHILLA.jpg" />
                                <div class="middle">
                                    <div class="text">Chinchilla</div>
                                </div>
                            </div>
                        </label>

                        <br>
                        <% break; case 7: %>
                            <label for="Codorniz">
                                <div class="container">
                                    <img
                                        src="/images/InteresesImages/CODORNIZ.jpg" />
                                    <div class="middle">
                                        <div class="text">Codorniz</div>
                                    </div>
                                </div>
                            </label>

                            <% break; case 8: %>
                                <label for="Conejillo de indias">
                                    <div class="container">
                                        <img
                                            src="/images/InteresesImages/CABALLO.jpeg" />
                                        <div class="middle">
                                            <div class="text">Conejillo de indias</div>
                                        </div>
                                    </div>
                                </label>

                                <% break; case 9: %>
                                    <label for="Gallina">
                                        <div class="container">
                                            <img
                                                src="/images/InteresesImages/GALLINA.jpg" />
                                            <div class="middle">
                                                <div class="text">Gallina</div>
                                            </div>
                                        </div>
                                    </label>

                                    <% break; case 10: %>
                                        <label for="Ganso">
                                            <div class="container">
                                                <img
                                                    src="/images/InteresesImages/GANSO.jpg" />
                                                <div class="middle">
                                                    <div class="text">Ganso</div>
                                                </div>
                                            </div>
                                        </label>

                                        <% break; case 11: %>
                                            <label for="Gato">
                                                <div class="container">
                                                    <img
                                                        src="/images/InteresesImages/GATO.jpg" />
                                                    <div class="middle">
                                                        <div class="text">Gato</div>
                                                    </div>
                                                </div>
                                            </label>

                                            <% break; default: break; } %>

                                                <% } %>
            </div>
            <div class="column">
                <% for(var i=12; i < 18; i++) { %>
                    <!-- Tercera Columna -->

                    <input type="checkbox" id="<%=Animales[i].Nombre_Especie%>" name="Escogidos" class="check"
                        value="<%=Animales[i].ID%>">

                    <% switch (i) { case 12: %>
                        <label for="Hurón">
                            <div class="container">
                                <img src="/images/InteresesImages/HURON.jpg" />
                                <div class="middle">
                                    <div class="text">Hurón</div>
                                </div>
                            </div>
                        </label>

                        <br>
                        <% break; case 13: %>
                            <label for="Hámster">
                                <div class="container">
                                    <img
                                        src="/images/InteresesImages/HAMSTER.jpg" />
                                    <div class="middle">
                                        <div class="text">Hámster</div>
                                    </div>
                                </div>
                            </label>

                            <% break; case 14: %>
                                <label for="Iguana">
                                    <div class="container">
                                        <img
                                            src="/images/InteresesImages/IGUANA.jpg" />
                                        <div class="middle">
                                            <div class="text">Iguana</div>
                                        </div>
                                    </div>
                                </label>

                                <% break; case 15: %>
                                    <label for="Mulo">
                                        <div class="container">
                                            <img
                                                src="/images/InteresesImages/MULO.jpeg" />
                                            <div class="middle">
                                                <div class="text">Mulo</div>
                                            </div>
                                        </div>
                                    </label>

                                    <% break; case 16: %>
                                        <label for="Ovejas">
                                            <div class="container">
                                                <img
                                                    src="/images/InteresesImages/OVEJA.jpg" />

                                                <div class="middle">
                                                    <div class="text">Ovejas</div>
                                                </div>
                                            </div>
                                        </label>

                                        <% break; case 17: %>
                                            <label for="Paloma">
                                                <div class="container">
                                                    <img
                                                        src="/images/InteresesImages/PALOMAS.jpg" />
                                            </label>
                                            <div class="middle">
                                                <div class="text">Paloma</div>
                                            </div>
            </div>


            <% break; default: break; } %>

                <% } %>
        </div>
        <div class="column">
            <% for(var i=18; i < 24; i++) { %>
                <!-- Segunda Columna -->

                <input type="checkbox" id="<%=Animales[i].Nombre_Especie%>" name="Escogidos" class="check"
                    value="<%=Animales[i].ID%>">

                <% switch (i) { case 18: %>
                    <label for="Perro">
                        <div class="container">
                            <img
                                src="/images/InteresesImages/PERRO.jpg" />
                            <div class="middle">
                                <div class="text">Perro</div>
                            </div>
                        </div>
                    </label>

                    <br>
                    <% break; case 19: %>
                        <label for="Ratón">
                            <div class="container">
                                <img
                                    src="/images/InteresesImages/RATON.jpg" />
                                <div class="middle">
                                    <div class="text">Ratón</div>
                                </div>
                            </div>
                        </label>

                        <% break; case 20: %>
                            <label for="Serpiente">
                                <div class="container">
                                    <img
                                        src="/images/InteresesImages/SERPIENTE.jpg" />
                                    <div class="middle">
                                        <div class="text">Serpiente</div>
                                    </div>
                                </div>
                            </label>

                            <% break; case 21: %>
                                <label for="Tortuga">
                                    <div class="container">
                                        <img
                                            src="/images/InteresesImages/CABALLO.jpeg" />
                                        <div class="middle">
                                            <div class="text">Tortuga</div>
                                        </div>
                                    </div>
                                </label>

                                <% break; case 22: %>
                                    <label for="Vaca">
                                        <div class="container">
                                            <img src="/images/InteresesImages/VACA.jpeg" />
                                            <div class="middle">
                                                <div class="text">Vaca</div>
                                            </div>
                                        </div>
                                    </label>

                                    <% break; case 23: %>
                                        <label for="Toro">
                                            <div class="container">
                                                <img
                                                    src="/images/InteresesImages/TORO.jpg" />
                                                <div class="middle">
                                                    <div class="text">Toro</div>
                                                </div>
                                            </div>
                                        </label>

                                        <% break; default: break; } %>

                                            <% } %>


        </div>

        <div class=" justify-content-center" style="text-align: center;">


            <button type="submit" class="btn btn-primary col-12" style="margin-bottom: 5%; margin-top: 5%;">Listo</button>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        <script>
            var checks = document.querySelectorAll(".check");
            var max = 3;
            for (var i = 0; i < checks.length; i++)
                checks[i].onclick = selectiveCheck;

            function selectiveCheck(event) {
                var checkedChecks = document.querySelectorAll(".check:checked");
                if (checkedChecks.length >= max + 1) {
                    Swal.fire(
                        '¡No tan rápido!',
                        'Solo puedes seleccionar tres animales.',
                        'info'
                    )
                    return false;
                }
            }


            function MinCheck(event) {
                var checkedChecks = document.querySelectorAll(".check:checked");

                if (checkedChecks.length < 3) {
                    Swal.fire(
                        '¡Espera un momento!',
                        'Selecciona al meos tres animales',
                        'info'
                    )

                    return false;
                }
                else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Se seleccionó correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function (result) {
                        return true;

                    });

                }


            }
        </script>





    </form>








</body>

</html>